:root {
    --grey: #737373;
    --medium-dark-grey: #bcbcbc;
    --medium-grey: #ddd;
    --medium-light-grey: #c7c7c7;
    --light-grey: #F3F3F3;
    --btn-disabled: #dcdcdc;
    --text-color: #1F262F;
    --link-color: #00518F;
    --primary: #005799;
    --primary-hover: #00457A;
    --primary-active: #002B4C;
    --secondary: #408740;
    --secondary-active: #96D600;
    --danger: #A70000;
    --danger-bg: #FCE8E8;
    --warning: #FF9A22;
    --warning-bg: #FDF1D1;
    --success: #408740;
    --success-bg: #E9F7E9;
    --info: #004a85;
    --info-bg: #D6F0FE;
    --dark-grey: #666;
    --darkest-grey: #333;
    --opensans-light: opensans-light, Arial, sans-serif;
    --opensans: opensans, Arial, sans-serif;
    --opensans-semibold: opensans-semibold, Arial, sans-serif;
    --opensans-bold: opensans-bold, Arial, sans-serif;
    --inter: inter, Arial, sans-serif;
    --space: 20px;
    --space-half: 10px;
    --space-quarter: 5px;
    --space-third: 7px;
    --space-double: 40px;
    --space-and-a-half: 30px;
    --border-radius: 6px;
    --modal-space: 16px;
    --breakpoint-sm: 600px;
    --breakpoint-md: 960px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1920px;
    --mobile-text: 16px;
    --regular-text: 14px;
    --small-text: 12px;
    --tiny-text: 10px;
    --largest-text: 24px;
    --home-numeric-values: 36px;
    --icon: 22px;
    --icon-sm: 16px;
    --icon-lg: 24px;
    --icon-meru: 10px;
    --indicator-sm: 36px;
    --indicator-md: 48px;
    --indicator-lg: 80px
}